@import java.util
@(studentForm : Form[Student])(implicit request: Http.Request,messagesProvider: MessagesProvider)

@import helper._

<html>
    <head>

    </head>
    <body>
        <h1>Add Student</h1>

        @helper.form(action = helper.CSRF(routes.StudentController.save())){

        @helper.inputText(studentForm("name"))
        @helper.inputText(studentForm("age"))
        @helper.inputText(studentForm("marks"))
        @helper.inputText(studentForm("branch"))
        <button class="btn btn-success" type="submit"> Add Student</button>



        }



    </body>
</html>